* {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
  list-style: none;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  margin-right: 12px;
}
header .logo p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header nav a {
  margin-right: 44px;
  text-decoration: none;
}
header .auth {
  display: flex;
  align-items: center;
}
header .auth a,
header .auth button {
  margin-right: 44px;
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #3AAFA9;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 8px;
  background: #3AAFA9;
}
header .auth .sign_up {
  border-radius: 8px;
  background: #3AAFA9;
  padding: 5px 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .auth .user-icon {
  width: 60px;
  border-radius: 50%;
}

.app_catalog {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.name_catalog {
  margin-top: 100px;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  /* 62.4px */
}

.app_catalog_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 25px 0 90px 0;
}
.app_catalog .load_more_btn {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #3AAFA9;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 17px 38px;
  margin-top: 20px;
  cursor: pointer;
}
.app_catalog .app_box {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;
}
.app_catalog .app_box .app_cart {
  width: 380px;
  height: 170px;
  padding: 20px;
  border-radius: 15px;
}
.app_catalog .app_box .app_cart:hover {
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}
.app_catalog .app_box .app_cart .head {
  display: flex;
  align-items: flex-start;
}
.app_catalog .app_box .app_cart .head .company_icon {
  max-width: 128px;
  height: 128px;
  margin-right: 15px;
}
.app_catalog .app_box .app_cart .head ul {
  text-align: start;
}
.app_catalog .app_box .app_cart .head ul .name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3px;
}
.app_catalog .app_box .app_cart .head ul .status {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: red;
  text-decoration: line-through #d93f3f;
}
.app_catalog .app_box .app_cart .cart_desc {
  width: 100%;
  max-height: 40%;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
  text-align: start;
  word-break: break-all;
  overflow: hidden;
}
.app_catalog .app_box .app_cart .control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_catalog .app_box .app_cart .control .icon {
  margin-right: 80px;
}
.app_catalog .app_box .app_cart .control .icon svg {
  margin-right: 25px;
  fill: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.app_catalog .app_box .app_cart .control a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 9px 35px;
}
.app_catalog .app_box .app_cart .control .btn:hover {
  border-radius: 8px;
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
